* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

body{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  display: block;
}

table{
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
.field{
  margin-bottom: 10px;
}


div{
  display: block;
}

label{
  display: block;
}
form {
    display: block;
    margin-top: 0em;
}

